.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}
section.ant-layout.ant-layout-has-sider {
  height: 100vh;
}
.ant-layout-footer {
  padding: 12px 25px !important;
}
.site-layout-content {
  background: rgba(1, 1, 1, 0.1);
  margin: 24px;
  min-height: 280px;
  border-radius: 10px;
}
.layout-wapper {
  background-image: url('./../../assets/images/background.jpg');
  background-size: cover;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  width: 5px !important;
  height: 5px;
}

::-webkit-scrollbar-track-piece {
  background: #eee
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
