{
    "env": {
        "browser": true,
        "es2020": true,
        "mocha": true
    },
    "extends": "plugin:react/recommended",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 11,
        "sourceType": "module"
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "react/prop-types": "off",
        "react/forbid-prop-types": 0,
        "react-hooks/exhaustive-deps": "off",
        "no-unused-expressions": "off",
        "react/no-children-prop": "off"
    },
    "overrides": [
        {
            "files": ["*.js"],
            "rules": {
                "no-unused-expressions": "off",
                "react-hooks/exhaustive-deps": "off",
                "react/prop-types": "off",
                "react/forbid-prop-types": "off",
                "react/no-children-prop": "off"
            }
        }
    ]
}
