.item-user {
  display: grid;
  grid-template-columns: 35% 20% 45%;
  background-color: #fff;
  border: 1px solid #E6DCDC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 1rem;
  padding: 11px 31px;
  border-radius: 6px;
  &:last-child {
    margin-bottom: 0;
  }
  .intro {
    display: flex;
    align-items: center;
    h3 {
      font-size: 1.5rem;
      font-weight: bold;
      line-height: 1.3rem;
      margin: 0;
      margin-left: 20px;
    }
  }
  .state {
    .state-title {
      margin-right: 20px;
      font-weight: bold;
    }
    .state-value {
      background-color: #c4c4c4;
      padding: 6px;
      text-align: center;
      font-size: 14px;
    }
  }
  .action {
    display: flex;
    justify-content: flex-end;
    .btn-action {
      margin-left: 10px;
      background-color: #F7F3F3;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-weight: bold;
    }
  }
}
